    * {
        margin: 0;
        padding: 0;
        font-family: 'Open Sans', sans-serif;
    }
    
  
    .content {
        width: 80%;
        margin: 50px auto;
        padding: 20px;
    }
    .content h1 {
        font-weight: 400;
        text-transform: uppercase;
        margin: 0;
        color: #fff;
    }
    .content h2 {
        font-weight: 400;
        text-transform: uppercase;
        color: #333;
        margin: 0 0 20px;
    }
    .content p {
        font-size: 1em;
        font-weight: 300;
        line-height: 1.5em;
        margin: 0 0 20px;
    }
    .content p:last-child {
        margin: 0;
    }
    .content a.button {
        display: inline-block;
        padding: 10px 20px;
        background: #ff0;
        color: #000;
        text-decoration: none;
    }
    .content a.button:hover {
        background: #000;
        color: #ff0;
    }
    .content.title {
        position: relative;
        background: #333;
    }
    .content.title h1 span.demo {
        display: inline-block;
        font-size: .5em;
        padding: 10px;
        background: #fff;
        color: #333;
        vertical-align: top;
    }
    .content.title .back-to-article {
        position: absolute;
        bottom: -20px;
        left: 20px;
    }
    .content.title .back-to-article a {
        padding: 10px 20px;
        background: #f60;
        color: #fff;
        text-decoration: none;
    }
    .content.title .back-to-article a:hover {
        background: #f90;
    }
    .content.title .back-to-article a i {
        margin-left: 5px;
    }
    .content.white {
        background: #fff;
        box-shadow: 0 0 10px #999;
    }
    .content.black {
        background: #000;
    }
    .content.black p {
        color: #999;
    }
    .content.black p a {
        color: #08c;
    }
    
    
    .dropdown-menu {
        min-width: 200px;
    }
    .dropdown-menu.columns-2 {
        min-width: 400px;
    }
    .dropdown-menu.columns-3 {
        min-width: 600px;
    }
    .dropdown-menu li a {
        padding: 5px 15px;
        font-weight: 300;
    }
    .multi-column-dropdown {
        list-style: none;
    }
    .multi-column-dropdown li a {
        display: block;
        clear: both;
        line-height: 1.428571429;
        color: #333;
        white-space: normal;
    }
    .multi-column-dropdown li a:hover {
        text-decoration: none;
        color: #262626;
        background-color: #f5f5f5;
    }
    
    @media (max-width: 767px) {
        .dropdown-menu.multi-column {
            min-width: 240px !important;
            overflow-x: hidden;
        }
    }
    
    @media (max-width: 480px) {
        .cont {
            width: 100%;
            margin: 0px auto;
            padding: 10px;
        }
    }
.bro{
  margin-left: 5%;
}
.brn{
    margin-right:5%;
}
.contain{
  margin-left:60px;
  margin-right:00px;
}
.noi>li{
    list-style-position: outside;
list-style-image: url('../../images/arrow.png');
padding-bottom:3px;

}
.containero{
  margin-left:10%;
  margin-right:5%;
}
.yell{
    color:#608106;
}


.card-container {
  height: 150px;
  perspective: 600;
  position: relative;
  width: 150px;
}
.card {
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 300ms ease-in-out;
  width: 100%;
  margin-left: 65px;
margin-top: 15px;
}
.card:hover {
   transform: rotateY(300deg);
  -o-transform: rotateY(300deg);

-moz-transform: rotateY(300deg);

-ms-transform: rotateY(300deg);

-webkit-transform: rotateY(300deg);


}
.card .side {
  backface-visibility: hidden;
  height: 100%;
  position: absolute;
  width: 100%;
}
.card .back {
  transform: rotateY(180deg);
}

.social{
    background-color: #212020;
    
    width: 100%;
}
.socio{
    color:#ccc;
    font-weight:300;
    margin-right:5%;
    margin-top:3px;
    margin-bottom: 3px;
    float:right;
    font-size: 12px;
}
.poc{
    float:left;
     color:#A3CBF2;
    font-weight:300;
    margin-left:15px;
    margin-top:3px;
    margin-bottom:3px;
    font-size: 12px;
    letter-spacing: 1px;

}
.soco{
    color:#ccc;
    font-weight:300;
    margin-right:2%;
    margin-top:3px;
    margin-bottom: 3px;
    float:right;
    font-size: 12px;
}

.hh{
    width:17%;
    
    background-color:#aaa;
    height:.005ex;

}
.h{
    width:37%;
    
    background-color:#aaa;
    height:.005ex;
    margin-left:2%;

}
.subo{

    padding-left:22%;
    text-align: center;
    padding-right:22%;
}




.amaz{
    background-color: #5b6dcb;

    padding:5px;
    color:#fff;
    text-align: center;
   height: 300px;

}
.amaz1{
    background-color: #42cf06;

    padding:5px;
    color:#fff;
   height: 300px;

}
.amaz2{
background-image: url(../naz.jpg);
background-size: cover;

padding:5px;
color:#fff;
height: 300px;
}






.pdi{
    margin-top:15%;
    margin-bottom: 6%;

}
.lefy{
margin-left: 8%;
}
.inf{
    margin-top:25%;
    color: #fff;
    font-size: 19px;    
    text-align:center;
    padding:0px 10%;
}
.inf1{
    margin-top:25%;
    color: #333;
    font-size: 19px;    
    text-align:center;
    padding:0px 10%;
}
.bkn{
  background: #fff none repeat scroll 0% 0%;
border: 0px solid #ccc;
color: #333;
padding: 16px 35px;

margin-top:15px;
font-size: 12px;
letter-spacing: 2px;
text-transform: uppercase;
border-radius: 0px;
}
.flp{
    margin-top: 10%;
}
.nax{
    color:#577bbe;
    margin-left:8px;
}
.hol{
    font-size: 18px;
    color:#333;
      margin-left:8px;
}
.hok{
    font-size: 15px;
    color:#333;
      margin-left:8px;
}
.grt{
    color: #98c07b;
    font-size: 22px;
      margin-left:8px;
}
.myV{
  background: #05177D none repeat scroll 0% 0%;
border: 0px solid #ccc;
color: #fff;
padding: 12px 15px;
margin: 20px 8px;
margin-bottom: 80px;
font-size: 12px;
letter-spacing: 2px;
text-transform: uppercase;
border-radius: 0px;
}
.wd{
    margin-bottom:6%;
    margin-top: 4%;
    font-size: 24px;
}
#call-to {
    background-image: url("../pri.jpg");
    background-size: cover;
    background-attachment: fixed;
    padding: 150px 0px;
    text-align: center;
    position: relative;
    color: #FFF;
    /*margin-top: 21px;*/
}
.tih{
    color: #fff;
    font-size:28px;
    font-family: "open sans",arial;
}
#call-to-actionb {
    background-color:#fff;
    background-size: cover;
    background-attachment: fixed;
    padding: 80px 0px;
    text-align: center;
    position: relative;
    color: #FFF;
}
.call-to-action {
    background-color:#fff;
    background-size: cover;
    background-attachment: fixed;
    padding: 80px 0px;
    text-align: center;
    position: relative;
    color: #FFF;
   
  }

.call_common {
   
    background-size: cover;
    background-attachment: fixed;
    padding: 80px 0px;
    text-align: center;
    position: relative;
    color: #FFF;

}



#callm {
  background-color:#6d2b6e;
  background-size: cover;
  background-attachment: fixed;
  padding: 20px 0;
  text-align: center;
  position: relative;
  color: #fff;
  max-height: 430px;
  margin-bottom:20px;

}
@media screen and (max-width: 480px) {
   #callm {
  background-color:#6d2b6e;
  background-size: cover;
  background-attachment: fixed;
  padding: 20px 0;
  text-align: center;
  position: relative;
  color: #fff;
  max-height: 830px;
  margin-bottom:30px;
  
}
}
#callm {
  position: relative;
  z-index: 99;
  color: #fff;
}
#callm p1 {
  margin-bottom: 15px;
  color: #fff;
  float:left;
  font-size:30px;
 
  
}
#callm .block p {
  font-size: 15px;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  margin-top: 20px;
  text-align: left;
  color: #fff;
 
}
#callm .block .btn-contact {
  background: #fff;
  border: none;
  color: #444;
  padding: 16px 35px;
  margin-top: 20px;
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 0;
}
#callm .block .btn-contact i {
  margin-right: 10px;
}
.contra{
    width:95%;
}


#caller {
  background-color:#fff;
  background-size: cover;
  background-attachment: fixed;
  padding: 20px 0;
  text-align: center;
  position: relative;
  color: #fff;
  max-height: 400px;
  margin-bottom:80px;

}
@media screen and (max-width: 480px) {
   #caller {
   background-color:#fff;
  background-size: cover;
  background-attachment: fixed;
  padding: 20px 0;
  text-align: center;
  position: relative;
  color: #fff;
  max-height: 800px;
  margin-bottom:30px;
  
}
}
#caller {
  position: relative;
  z-index: 99;
  color: #fff;
}
#caller p1 {
  margin-bottom: 15px;
  color: #fff;
  float:left;
  font-size:30px;
 
  
}
#caller .block p {
  font-size: 15px;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  margin-top: 20px;
  text-align: left;
  color: #fff;
 
}
#caller .block .btn-contact {
  background: #fff;
  border: none;
  color: #444;
  padding: 16px 35px;
  margin-top: 20px;
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 0;
}
#caller .block .btn-contact i {
  margin-right: 10px;
}



#catt {
  background-color:#3c9720;
  background-size: cover;
  background-attachment: fixed;
  padding: 20px 0;
  text-align: center;
  position: relative;
  color: #fff;
  max-height: 520px;
  margin-bottom:0px;

}

@media screen and (max-width: 480px) {
   #catt {
   background-color:#3c9720;
  background-size: cover;
  background-attachment: fixed;
  padding: 20px 0;
  text-align: center;
  position: relative;
  color: #fff;
  max-height: 820px;
  margin-bottom:0px;
  
}
}

#catt {
  position: relative;
  z-index: 99;
  color: #fff;
}
#catt p1 {
  margin-bottom: 15px;
  color: #fff;
  float:left;
  font-size:30px;
 
  
}
#catt .block p {
  font-size: 15px;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  margin-top: 20px;
  text-align: left;
  color: #fff;
 
}
#catt .block .btn-contact {
  background: #fff;
  border: none;
  color: #444;
  padding: 16px 35px;
  margin-top: 20px;
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 0;
}
#catt .block .btn-contact i {
  margin-right: 10px;
}

.sub-black{
    color: #555;
    font-size: 20px;

}
.inr-black{
    color:#555;
}

.sub-white{
    color: #fff;
    font-size: 20px;

}
.inr-white{
    color:#fff;
}
.somi{
    margin-bottom: -150px;
}

.margin-top{
    margin-top:15%;
}

.mys{
  background: #6D2B6E none repeat scroll 0% 0%;

color: #fff;
padding: 12px 15px;
margin: 20px 8px;
margin-bottom: 10px;
font-size: 12px;
letter-spacing: 2px;
text-transform: uppercase;
border:0px;
}

.mys:hover{
  background: #A90DAB  none repeat scroll 0% 0%;

color: #fff;
padding: 12px 15px;
margin: 20px 8px;
margin-bottom: 10px;
font-size: 14px;
letter-spacing: 2px;
text-transform: uppercase;
border:0px;
}



.myh{
  background: #fff none repeat scroll 0% 0%;

color: #333;
padding: 12px 15px;
margin: 20px 8px;
margin-bottom: 10px;
font-size: 12px;
letter-spacing: 2px;
text-transform: uppercase;
border:0px;
}

.myh:hover{
  background: #fff  none repeat scroll 0% 0%;

color: #333;
padding: 12px 15px;
margin: 20px 8px;
margin-bottom: 10px;
font-size: 14px;
letter-spacing: 2px;
text-transform: uppercase;
border:0px;
}


.mys1{
  background: #05177D none repeat scroll 0% 0%;

color: #fff;
padding: 12px 15px;
margin: 50px 8px;
margin-bottom: 80px;
font-size: 12px;
letter-spacing: 2px;
text-transform: uppercase;

}

.mys2{
  background: #05177D none repeat scroll 0% 0%;

color: #fff;
padding: 12px 15px;
margin: 50px 8px;
margin-bottom: 80px;
font-size: 12px;
letter-spacing: 2px;
text-transform: uppercase;

}
.tes{
    background-image: url('../naaz1.jpeg');
    border-radius: 50%;
    width:100px;
    background-size: cover;
    height:100px;
    margin-top:3%;
}
.tes1{
    background-image: url('../ah.jpg');
    border-radius: 50%;
    width:100px;
    background-size: cover;
    height:100px;
}

.tes2{
    background-image: url('../rev.jpg');
    border-radius: 10%;
    width:100px;
    background-size: cover;
    height:100px;
}

.lll{

padding:5px;
margin-bottom:3%;

}
.rito{
    margin-left:10%;
}
.lefo{
    margin-left:5%;
}
.topp{
    margin-top:3%;
}



.containi{
    width:100%;
    padding-right:15px;
}

.conb{
    background-image:url('../../img/resp.jpg');
    background-size: cover;
    width:100%;
    height:700px;
}
.suu{
  color: #888;
  
  margin-left:3%;
  margin-right: 3%;

}

.booot{

  margin-bottom: 10%;
}

.coner{
    background: #05177D none repeat scroll 0% 0%;

color: #fff;
padding: 3px 5px;
margin: 10px 4px;
margin-bottom: 20px;
font-size: 12px;
letter-spacing: 2px;
text-transform: uppercase;
margin:0px;


}

.sid{
background-color: #EFEFEF;
padding:5% 1% ;
min-height:450px;

}

@media screen and (max-width: 480px) {
 .sid{
background-color: #EFEFEF;
padding:5% 1% ;
min-height: auto;

}
}






.sick{
background-color: #fff;
padding:1% 1% ;

}

.acla{
  color: #00A1E0;

}

.bab{
  color:#444;
  padding: 5px 28px;
   /*text-align: center;*/
}
.bal{
  color:#444;
  padding: 15px 28px;
  margin-top:8%;
   /*text-align: center;*/
}
.gok{
  margin-top:44%;
  padding-left: 5%;

  width:220px;
}
.bui{
  height:69px;
  margin-top:2%;
}
.budg{
  height:75px;
}
.buup{
   height:75px;
}

#call-so-action {
    background-image: url("../banu.jpg");
    background-size:cover;
  /*  background-attachment: fixed;*/
    padding: 80px 0px;
    text-align: center;
    position: relative;
    color: #555;
    height:600px;
}
.boud{
  color: 333;
  font-size: 20px;
margin-left:5px;
}
.sdd{
  letter-spacing:2px;
  font-size: 35px;
  line-height: 1.4;
  text-align: left;
}

.mahem{
  background: #486bab none repeat scroll 0% 0%;

color: #fff;
padding: 12px 15px;
margin: 10px 0px;
margin-bottom: 90px;
font-size: 12px;
letter-spacing: 2px;
text-transform: uppercase;}
.mahem:hover{
  background: #486bab none repeat scroll 0% 0%;

color: #fff;
padding: 12px 15px;
margin: 10px 0px;
margin-bottom: 90px;
font-size: 12px;
letter-spacing: 2px;
text-transform: uppercase;
text-decoration: none;

}

.bikp{
  padding-left: 7%;
  margin-top:18%;
}
.soci{
      color: #486bab;
    font-weight: 600;
    font-size: 40px;
}

.vbn{
  padding-left:1%;
padding-left:1%;
text-align: center;
font-size: 17px;
font-weight: 300;
margin-bottom: 6%;
}
.center{
  text-align: center;
margin-top: 6%;

}




#stip {
  background-color:#f2f2f2;
  background-size: cover;
  background-attachment: fixed;
  padding: 50px 0;
  text-align: center;
  position: relative;
  color: #fff;
  max-height: auto;
  /*margin-bottom:80px;*/
padding-bottom:58px;
}
@media screen and (max-width: 480px) {
   #stip {
   background-color:#f2f2f2;
  background-size: cover;
  background-attachment: fixed;
  padding: 20px 0;
  text-align: center;
  position: relative;
  color: #fff;
  /*max-height: 800px;*/
  /*margin-bottom:30px;*/
  
}
}
#stip {
  position: relative;
  z-index: 99;
  color: #fff;
}
#stip p1 {
  margin-bottom: 15px;
  color: #333;
  float:left;
  font-size:30px;
 
  
}

#stip p2 {
  margin-bottom: 15px;
  color: #333;
  text-align: left;
  font-size:15px;
 
  
}
#stip .block p {
  font-size: 15px;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  margin-top: 20px;
  text-align: left;
  color: #fff;
 
}
#stip .block .btn-contact {
  background: #fff;
  border: none;
  color: #444;
  padding: 16px 35px;
  margin-top: 20px;
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 0;
}
#stip .block .btn-contact i {
  margin-right: 10px;
}

.tuy{
  color: #333;
}
.subk{
  color:#486BAB;
}
.dudes{
  /*background-image: url('../banisha.jpg');*/
background-repeat: no-repeat;
  max-height: 450px;
  background-size: cover;
 
  float:left;
}
.gals{


  height: 400px;
 
 
}
.colen{
  color: #fff;
}

#spunk {
  background-color:#486bab;
  background-size: cover;
  background-attachment: fixed;
  padding: 20px 0;
  text-align: center;
  position: relative;
  color: #fff;
  /*max-height: 400px;
  margin-bottom:80px;*/

}
@media screen and (max-width: 480px) {
   #spunk {
   background-color:#486bab;
  background-size: cover;
  background-attachment: fixed;
  padding: 20px 0;
  text-align: center;
  position: relative;
  color: #fff;
 /* max-height: 800px;
  margin-bottom:30px;*/
  
}
}



#spunk {
  position: relative;
  z-index: 99;
  color: #fff;
}
#spunk p1 {
  margin-bottom: 15px;
  color: #fff;
  text-align: left;
  font-size:16px;
  margin-left: 79px;
 
  
}
#spunk .block p {
  font-size: 15px;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  margin-top: 20px;
  text-align: left;
  color: #fff;
 margin-left
}
#spunk .block .btn-contact {
  background: #fff;
  border: none;
  color: #444;
  padding: 16px 35px;
  margin-top: 20px;
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 0;
}
#spunk .block .btn-contact i {
  margin-right: 10px;
}
.bullp{
  color: #fff;
  text-align: left;
}
.colen{
  text-align: left;
}
.commodo{
  height:400px;
}
#caller {
  background-color:#fff;
  background-size: cover;
  background-attachment: fixed;
  /*padding: 0px 0;*/
  text-align: center;
  position: relative;
  color: #fff;
 /* max-height: 400px;
  margin-bottom:80px;
*/
}
.pool{
  margin-left:-10px;
}
.bloi{
  color: #486bab;
  font-size: 15px;
}
.jok{
  padding-right:4%;
}
.minus{
  margin-right:-10px;
}
.grunt{
  margin-left:7%;
  margin-top: 14%;
}
.kmin{
  padding-left:5%;
}

.bafa{
  margin-left:10%
}
  #scored {
              background-image:url('../../images/ith.jpg');
/*  background-size: cover;
*/  background-attachment: fixed;
background-repeat: no-repeat;
padding: 80px 0;
text-align: center;
position: relative;
color: #fff;
min-height: 560px;
margin-bottom:20px;

}
.pull-lefter{
float:left;
margin-left:30%;
}

.beme{
 
  margin-top:30%;
  margin-bottom:30px;
}
.nople{
  margin-right:5%;
}
.baybe{

  background-color: #98b252;
  padding:10px 30px;
  float: left;
  margin-left:15%;
}

.baybe:hover{
  text-decoration: none;
  color: #fff;
  background-color: #aabb52;
  padding:10px 30px;
}
.blah{
  background-color: #f2f2f2;
  margin-bottom:5%;
}
.jbll{
  font-weight: bold;
  color: #0b0;

}
.init{
  color: #69558d;
  text-transform: uppercase;
  padding-top:3%;
  padding-left:2%;
}
.class{
  padding-right:15%;
padding-left:2%;
}
.space{
  height:50px;
}
.ora{
  margin-left:10px;
}





    .imgd {
             -webkit-transition: all 0.5s ease 0s;
              -moz-transition: all 0.5s ease 0s;
              -o-transition: all 0.5s ease 0s;
              -ms-transition: all 0.5s ease 0s;
              transition: all 0.5s ease 0s;
              cursor:pointer;
          }
          
          .imgd:hover {
              -webkit-transform: rotate(360deg);
              -moz-transform: rotate(360deg);
              -ms-transform: rotate(360deg);
              -o-transform: rotate(360deg);
              transform: rotate(360deg);
          }

#cartel {
  background-image: url('../../images/gd.jpg');
  /*background-size: cover;*/
  /*background-attachment: fixed;*/
  padding: 20px 0;
  text-align: center;
  position: relative;
  color: #fff;
  min-height: 479px;
  background-repeat: no-repeat;
  margin-bottom:0px;

}
.sikp{
  color:#222;
  text-transform: uppercase;
text-align: center;
  
  margin-top:13%;

}
.nnw{
  font-size: 40px;
    line-height: 1.4;
}

.sikol{
 /*background-image: url('../../images/gd.jpg');*/
  /*background-size: cover;*/
  /*background-attachment: fixed;*/
  color: #fff;
min-height: 510px;

}
.cumino{

  margin-top:5px;
  height:500px;
  background-image: url('../../images/kater1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}




.sumino{

  /*height:500px;*/
}

.icage{
  /*margin-right:-10px;*/
  margin-top:5px;
  /*margin-right:-15px;*/


}
.leyh{
  height:250px;
  background-color: #fff02a;
margin-top:5px;
padding-bottom:5px;
margin-left:-15px;
margin-right:-10px;
}

@media screen and (max-width: 480px) {
   .leyh{
  height:850px;
  background-color: #fff02a;
margin-top:5px;
padding-bottom:5px;
margin-left:-15px;
margin-right:-10px;
}
}









.leyd{
  min-height:245px;
  background-color: #888dd0;
margin-top:5px;
padding-bottom:5px;
margin-left:-15px;
margin-right:-10px;
}

.hoit{
  padding-left:85px;
padding-top:35px;
font-weight: 500;
font-size: 23px;
color:#333;
}


.boin{
  padding-left:85px;
  padding-right:55px;
padding-top:5px;
color:#333;
}


.woin{
  padding-left:85px;
  padding-right:55px;
padding-top:5px;
color: #fff;
}
.noit{
  padding-left:85px;
padding-top:35px;
font-weight: 500;
font-size: 23px;
color:#fff;
}
.git{
padding-left:45px;
padding-top:33px;
font-size:22px;
font-weight: 500;
color:#333;
}

.nit{
padding-left:45px;
color:#333;

}

.pikol{
 /*background-image: url('../../images/gd.jpg');*/
  /*background-size: cover;*/
  /*background-attachment: fixed;*/
  
min-height: 410px;

}
.chumino{

  margin-top:5px;
  height:400px;
  background-image: url('../../images/grows.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.bromino{

  margin-top:5px;
  height:355px;
  background-image: url('../../images/saad.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.dikol{
 /*background-image: url('../../images/gd.jpg');*/
  /*background-size: cover;*/
  /*background-attachment: fixed;*/
  
min-height: 370px;

}

.hikol{
 /*background-image: url('../../images/gd.jpg');*/
  /*background-size: cover;*/
  /*background-attachment: fixed;*/
  
min-height: 355px;
background-color: #486bab;
color: #fff;
padding-bottom:8px;
}

.spit{
color:#fff;
padding-left:45px;
padding-top:33px;
font-size:22px;
font-weight: 500;
padding-left:45px;
padding-top:33px;
font-size:22px;
font-weight: 500;

}

.skit{
padding-left:45px;
color:#fff;

}
.clomino{

  margin-top:0px;
  height:355px;
  background-image: url('../../images/laad.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.hig{
margin-top:15%;
width:100%;

}
.sen{
  padding-top:20%;
}

@media screen and (max-width: 480px) {
.sen{
  padding-top:30%;

}

}
.gtr{
  color: #2a2;
   font-family: "open sans",arial;
}
.gur{
  color: #22a;
  font-size:30px;
  padding-left: 10px;
  font-family: "open sans",arial;

}
.msn{
   font-family: "open sans",arial;
   color: #111;
   line-height: 1.3;
   margin-bottom:50px;
}
.center-just{
  text-align: center;
  padding-top:20px;
}
.padded-text{
  padding:5px 15%;
  font-size: 17px;
}
@media screen and (max-width: 480px) {
.padded-text{
  padding:5px 5px;
  text-align: justify;
}
}
.dinol{
  height:250px;
}

@media screen and (max-width: 480px) {
.dinol{
  height:350px;
}}

.tromino{
 margin-top:0px;
  height:355px;
  background-image: url('../../images/baad.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.jl{
  margin-top:25px;
  color: #22a;
}

.fikol{
  
min-height: 355px;
background-color: #f2f2f2;
color: #333;
padding-bottom:8px;

}
.mmj{

padding:15px 5%;

}
.fromino{

  margin-top:5px;
  height:395px;
  background-image: url('../../images/naad.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.sdikol{
 /*background-image: url('../../images/gd.jpg');*/
  /*background-size: cover;*/
  /*background-attachment: fixed;*/
  
min-height: 425px;

}
.sumint{
  padding:8px 8%;
}

.spacem{
  height:30px;
  margin-bottom: 1%;
}
.blut{
  font-size: 35px;
  font-weight:300;
  font-family: "open sans",arial;
  color: #44286a;
  letter-spacing: 2px;

}

@media screen and (max-width: 480px) {

.blut{
 margin-top:25%;
  font-size: 35px;
  font-weight:300;
  font-family: "open sans",arial;
  color: #44286a;
  letter-spacing: 2px;

}
}

.jy{
  color:#333;
  margin-top:5px;
}
.slk{
  font-size: 20px;
  color: #333;
  margin-bottom: 15px;
}
.sll{
  font-size: 25px;
  color: #333;
  margin-bottom: 15px;
}

.padding-med{
padding-top:25px;
padding-left: 30px;

}

@media screen and (max-width: 480px) {

.padding-med{
padding-top:25px;
padding-left: 25%;

}
}
.accd{
  float: left;
  text-align: left;
}






#jpunk {
  background-color:#69499d;
  background-size: cover;
  background-attachment: fixed;
  padding: 20px 0;
  position: relative;
  color: #fff;
  /*max-height: 400px;
  margin-bottom:80px;*/

}
@media screen and (max-width: 480px) {
   #jpunk {
   background-color:#69499d;
  background-size: cover;
  background-attachment: fixed;
  padding: 20px 0;
 
  position: relative;
  color: #fff;
 /* max-height: 800px;
  margin-bottom:30px;*/
  
}
}



#jpunk {
  position: relative;
  z-index: 99;
  color: #fff;
}

.accd{
  font-size: 35px;
  font-family: "open sans",arial;

}

.subtopico{
  margin-top:15px;
    font-family: "open sans",arial;

}
.gruns{padding-left:10%;}
.ovo{
    font-family: "open sans",arial;
    color: #000;
    font-weight: bold;
}

.ov{
    font-family: "open sans",arial;
    color: #818d91;
    font-weight: bold;
}

.ovp{
     font-family: "open sans",arial;
    color: #818d91;
    font-size: 15px;
    margin-top:23px;
    
}
.icov{
  font-size: 20px;
  font-weight: bold;
}
.rowm{

height: 250px;
border-bottom: 1px solid #ccc;
border-left: 1px solid #ccc;
border-top: 1px solid #ccc;
border-right: 1px solid #ccc;
margin-top:8px;
margin-bottom:8px;
padding:15px 15px;
}

@media screen and (max-width: 480px) {
.rowm{

height: 500px;
border-bottom: 1px solid #ccc;
border-left: 1px solid #ccc;
border-top: 1px solid #ccc;
border-right: 1px solid #ccc;
margin-top:8px;
margin-bottom:8px;
padding:15px 15px;
}}

.slm{
  font-size: 16px;
  color: #555;
}
.mbot{
  margin-bottom:20px;
}

.rowd{

height: 240px;
border-bottom: 1px solid #ccc;
border-left: 1px solid #ccc;
border-top: 1px solid #ccc;
border-right: 1px solid #ccc;
margin-top:8px;
margin-bottom:8px;
padding:15px 15px;
}

 .rowdtask{

        height: 324px;
        border-bottom: 1px solid #ccc;
        border-left: 1px solid #ccc;
        border-top: 1px solid #ccc;
        border-right: 1px solid #ccc;
        margin-top:8px;
        margin-bottom:8px;
        padding:15px 15px;
    }


@media screen and (max-width: 480px) {
.rowd{

height: 629px;
border-bottom: 1px solid #ccc;
border-left: 1px solid #ccc;
border-top: 1px solid #ccc;
border-right: 1px solid #ccc;
margin-top:8px;
margin-bottom:8px;
padding:15px 15px;
}}


    @media screen and (max-width: 480px) {.rowdtask{
        height: 980px;
        border-bottom: 1px solid #ccc;
        border-left: 1px solid #ccc;
        border-top: 1px solid #ccc;
        border-right: 1px solid #ccc;
        margin-top:8px;
        margin-bottom:8px;
        padding:15px 15px;
    }}


@media screen and (max-width: 850px) {
.comodo_d{
  margin-top:50px;
  height:150px;
}
}
.comodo_d{
  margin-top:10px;
  height:0px;
}

@media screen and (max-width: 850px) {
.section-heading {margin-bottom:0px;

}}
.anger{
color:#fff;margin-top:10px;font-size:39px;background-color:rgba(102, 102, 102, 0.75);padding:15px;
  
}
.df{
		background-color: #486bab;
		width:100%;

		padding:30px 35px;
	}
	.db{
		background-color: #efefef;
		color: #111;
		width:100%;

		padding:30px 35px;
	}
.height400{
	height:400px;
}
.height350{
	min-height:285px;
}
.color-ccc{
	background-color: #efefef;
}
.mentol{
	min-height: 400px;
	color: #fff;
}
.sonil{
 

  height:405px;
}
.denol{
	min-height: 405px;
}
.pad50{
	padding-top:210px;
	
}
@media screen and (min-width: 1200px) {
	.pad50{
	padding-top:50px;
	padding-left: 120px;
	padding-right:30px;
	text-align: left;
	
}
}
@media screen and (max-width: 498px) {

.sonil{
 

  height:215px;
}
}
.kilspace{
  height: 90px;
}
.liop{
  font-size: 14px;
  margin-top:15px;
}
.listyle
{
    font-size: 14px;
    margin-top:15px;
}